body{
    font-family: "Roboto", sans-serif;
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert{
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
}

.alert-warning {
    color: #856404;
    background-color: #f7cf50;
    border-color: #f7cf50;
}

.callout-container{
    height: 100vh;
    background: url(../images/whiskey-backdrop.jpg) no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.opaque-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0 ,0 ,0 ,0.5);
}

.quotes-container{

}

.features-container{

}

.favourites-container{

}

/* block-dividers */
.block-divider{
    height: 5px;
    width: 75px;    
    border: 0;
}

.block-divider-short{
    width: 35px;
}

.block-divider-orange{
   background-color: #ffa5008a; 
}

/* navbar */
.navalert-container{
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar{
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.81);
}

.navbar .navbar-toggler{
    border: 0;
}

.navbar .navbar-nav a{
    font-weight: bold;
}

.navbar-dark .navbar-brand{
    font-weight: bold;
    color: #ffa5008a;
}

.dropdown-menu{
    background-color: rgba(0, 0, 0, 0.81);    
}

.dropdown-item{
    color: #ffa5008a;
}

.dropdown-item:hover{
    color: rgba(0, 0, 0, 0.81);
    background-color:#ffa5008a ;
}

/* Jumbotron */
.jumbotron{
    background-color: transparent;
}
.jumbotron-header{
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead{
    color: #f5f5f594;
}

mark{
    color:#ffa5008a;
}

.mark, mark {
    background-color: #08080894;
    border: 1px solid #ffa5008a;
}

.jumbotron small{
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

/* buttons */

.btn--cta{
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red{
    background-color: #ff00006e;
    border-color: red;
    color: white;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus{
    background-color: #08080894;
    border-color: #ffa5008a;
    color: white;
}